<li><a href="#" id="homeLink">Home</a></li>
<li class="divider-vertical"></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a id="postList" href="#">Posts</a></li>
  </ul>
</li>
<li class="divider-vertical"></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= username %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a id="userlist" href="#">Users</a></li>
    <li><a id="settings" href="#">Settings</a></li>
    <li class="divider"></li>
    <li><a id="logout" href="#">Sign Out</a></li>
  </ul>
</li>
