<td><%= id %></td>
<td><%= fname %></td>
<td><%= lname %></td>
<td><%= username %></td>
<td><%= email %></td>
<td><%= role %></td>
<td>
  <div class="btn-group">
    <a class="btn edit" href="#">Edit</a>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a class="edit" href="#">Edit</a></li>
      <li class="divider"></li>
      <li><a class="delete" data-toggle="modal" data-target="#modal" href="#">Delete</a></li>
    </ul>
  </div>
</td>
