<h1>Comment Form</h1>
<br>
<form class="form-horizontal">
  <fieldset>
    <div class="row">
      <legend>Comment:</legend>
      <hr>
      <div class="span6">
        <div class="control-group">
          <label class="control-label" for="content">Content</label>
          <div class="controls">
            <textarea class="input-xlarge" id="content" rows="3"></textarea>
          </div>
        </div>
      </div> <!-- /.span6 -->

      <div class="span6">
      </div> <!-- /.span6 -->

      <div class="form-actions">
        <button type="submit" name="save" class="btn btn-primary">Save changes</button>
        <button type="reset" name="cancel" class="btn">Cancel</button>
      </div>

    </div>
  </fieldset>
</form>
